* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #B3E5FC, #FFE0B2);
}

#root {
  width: 100%;
  min-height: 100vh;
}
