/* Main Styling */
.page {
    display: flex;
    background: var(--background-fill);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%
}
.accent {
    color: var(--accent);
}
.body {
    display: flex;
    width: 100%;
    height: 65%;
    box-shadow: var(--box-shadow-heavy);
    background: var(--body-fill);
    backdrop-filter: var(--body-blur);
    border-radius: 2rem;
    overflow: hidden;
  }
/* Title Panel */
.title-panel {
    background: var(--body-fill);
    backdrop-filter: var(--body-blur);
    border-radius: 2rem;
    padding: var(--spacing4);
}
.title-panel, .form-panel {
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}
.title-text {
    transform: scale(1.8);
    line-height: var(--spacing5);
    margin-top: var(--spacing6);
    margin-bottom: var(--spacing5);
}
.pageTitle {
    padding: var(--spacing5)
}
.title-text h2 {
    max-width: calc(var(--font-lg) * 7);
    line-height: calc(var(--font-lg) * 1.2);
}
.logo-wrapper {
    transform: scale(1.2);
    position: relative;
    width: 8rem;
    height: 8rem;
}
.welcomeLogo {
    position: relative;
    width: 8rem;
    z-index: 2;
    height: auto;
}
@media (max-width: 508px) {
    .body{
      flex-direction: column;
      height: auto;
    }
    
    .title-panel {
      display: none;
    }
    
    .form-panel {
      padding: 30px 20px;
    }
  }